body {
	margin: 0;
	font-family: Nunito Sans, Arial;
}

.header {
	background-color: #131313;
}

.logo {
	color: #E3B873;
	text-align: center;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-transform: uppercase;
	margin: 0 auto;
}

.button {
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	border: 0;
	padding: 13px 33px;
	margin-left: 45px;
	text-decoration: none;
	font-family: Nunito Sans;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;	
	color: #FFFFFF;
	cursor: pointer;
}

.nav-list {
	display: flex;
	list-style: none;
	align-items: center;
}

.nav-link {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	margin-left: 47px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	color: #FFFFFF;
}

.nav-link:hover {
  	color: #E3B873;
}

.phone-link {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-align: right;
	text-decoration-line: underline;
	color: #E3B873;
	margin-left: 67px;
}

.container-header {
	max-width: 1256px;
	height: 83px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin: 0 auto;	
}

/*main section1*/

h1 {
	margin: 0;
}

.section1 {
	background-image: url("../images/foto.jpg");
	background-size: cover;
	height: 707px;
}

.container_main {
	display: flex;
	padding-top: 194px;
	max-width: 1172px;
	margin: 0 auto;
	height: 305px;
	
}

.container_overlay	{
	margin-top: 83px;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	height: 707px;
}

.section1_container {
	position: relative;
	z-index: 1;
}

.container_main .title {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 53px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.container_main .text {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 36px;
	margin-top: 19px;
	color: #FFFFFF;
}

.container_main1 {
	height: 305px;
	width: 676px;
}

.span_title {
	color: #E3B873;
}

.button_title {
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 2px;
	background: rgba(0, 0, 0, 0);
	padding: 20px 42px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}

.button_title:hover {
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
	border-radius: 2px;
}

.button1 {
	padding: 20px 42px;
}

.button2 {
	padding: 20px 22px;
	margin-left: 20px;
}

/*main section 2*/

.section2 {	
	height: 1074px;
	background-color: #131313;
	background-size: cover;
	color: #E3B873;
}

.container_section2 {
	display: flex;
	max-width: 1172px;
	margin: 0 auto;
	padding-top: 107px;
}


/*section2 левый div*/

.section2_description {
	padding-top: 69px;
	max-width: 390px;
	padding-right: 50px;
}

.section2_description h2 {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 37px;
	letter-spacing: -0.07em;
	text-transform: uppercase;

	color: #E3B873;
}

.section2_description p {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 27px;

	color: #FFFFFF;
}


.section2_description h3{
	margin: 0;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;

	color: #E3B873;
}

.description_table td {
	vertical-align: top;
	text-align: left;
	padding-bottom: 34px;
	padding-right: 34px;
}

.section2_description td{
	
	
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;

	color: #FFFFFF;
}

.slider {
	margin-top: 80px;
}


/*section2 правый div*/

.section2_links ul{
	display: flex;
	list-style: none;
	padding-inline-start: 0px;
	margin-bottom: 53px;
}

.section2_links a{
	text-decoration: none;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;

	color: rgba(255, 255, 255, 0.3);
}

.section2_links li{
	display: flex;
	list-style: none;
	margin-left: 60px;
}

.section2_links li:first-child {
	margin-left: 0px;
}

.section2_links a:hover {
	color: #E3B873;
	text-decoration: underline;
}

/*main section3*/

.section3 {	
	background-size: cover;
	margin: 0 auto;
	background-color: none;
	height: 1030px;
	display: flex;
	justify-content: center;
}

.container_section3 {
	margin-top: -324px;
	max-width: 817px;
}
.section3_video {
	display: flex;
	flex-direction: column;
}

/* Первый див с видео внутри */

.container_section3 h3 {
	text-align: center;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.section3_camera {
	position: relative;
	display: inline-flex;
	align-items: center;
	width: 28px;	
	margin-left: auto;
	margin-right: auto;	
}

.section3_camera:after {
	content: '';	
	width: 32px;
	height: 1.5px;
	background: #E3B873;
	border-radius: 30px;
	position: absolute;
	left: 40px; 
	
}

.section3_camera:before {
	content: '';	
	width: 32px;
	height: 1.5px;
	background: #E3B873;
	border-radius: 30px;
	position: absolute;
	right: 35px;
}

.section3_foto {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;	
}

.section3_foto img {
	margin-top: 34px;	
}

.play {
	position: absolute;
	margin: 0;
}

/* Второй див с текстом и инпутом внутри */
.section3_text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.section3_text img {
	margin-top: 62px;
}

.section3_text p {
	margin-top: 34px;
	max-width: 681px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 37px;
	text-align: center;
	color: #363636;
}
.section3_input {
	display: flex;
	justify-content: center;
}

.section3_input_form {
	display: flex;
	max-width: 769px;
	max-height: 51px;	
	flex-wrap: wrap;
	justify-content: center;
}

.section3_input_form:nth-child(-n+3) {
	justify-content: space-between;
	margin: 0 auto;
}

.input_button {
	height: 51px;
	width: 200px;
	background-color: #E3B873;
	border-radius: 2px;
	border: 0;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 27px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.new_string {
	width: 100%;
}

.input_label {
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	color: rgba(54, 54, 54, 0.5);
}

.input_text {
	border: 0;
	border-bottom: 1px solid rgba(54, 54, 54, 0.5);
	width: 230px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	color: #363636;
}

.input_checkbox {	
	opacity: 0;
	margin-top: 20px;
	width: 2em;
	margin-left: auto;
	margin-right: 1em;
}

.label_checkbox {
	margin-right: auto;
	font-size: 14px;
	color: #181818;	
}

.input_checkbox+label {
	display: inline-flex;
	align-items: center;
	margin-top: 20px;	
}

.input_checkbox+label:before {
	content: '';	
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 1px solid #adb5bd;
	border-radius: 1px;
	margin-right: 1em;
	background-repeat: no-repeat;
	background-position: center center;
}

.input_checkbox:checked+label::before {
	border-radius: 1px;
	background-color: #E3B873;
	background-image: url("../images/checked.png");
}

/*main section3*/

.section4 {
	background-size: cover;
	margin: 0 auto;
	display: flex;	
	background: none;

	


}
.container_section4 {
	max-width: 1236px;
	margin-left: auto;
	margin-right: auto;

	
}

/*div с заголовком и иконкой*/

.section4_title {
		

}