body {
	margin: 0;
	font-family: Nunito Sans, Arial;
	font-style: normal;
	font-weight: normal;
}

body label {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 1.6em;

	color: rgba(255, 255, 255, 0.5);
}

.header, .footer {
	background-color: #131313;
}

.logo {
	color: #E3B873;
	text-align: center;
	font-size: 11px;
	line-height: 15px;
	text-transform: uppercase;
	margin: 0 auto;
}

.button {
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	border: 0;
	padding: 13px 33px;
	margin-left: 45px;
	text-decoration: none;
	font-family: Nunito Sans;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;	
	color: #FFFFFF;
	cursor: pointer;
}

.nav-list {
	display: flex;
	list-style: none;
	align-items: center;
}

.nav-link {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	margin-left: 47px;
	font-size: 11px;
	line-height: 15px;
	color: #FFFFFF;
}

.nav-link:hover {
  	color: #E3B873;
}

.phone-link {
	font-size: 11px;
	line-height: 15px;
	text-align: right;
	text-decoration-line: underline;
	color: #E3B873;
	margin-left: 67px;
}

.container-header, .container-footer {
	max-width: 1256px;
	height: 83px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin: 0 auto;	
}

/*main section1*/

h1 {
	margin: 0;
}

.section1 {
	background-image: url("../images/foto.jpg");
	background-size: cover;
	height: 707px;
}

.container_main {
	display: flex;
	padding-top: 194px;
	max-width: 1172px;
	margin: 0 auto;
	height: 305px;
	
}

.container_overlay	{
	margin-top: 83px;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	height: 707px;
}

.section1_container {
	position: relative;
	z-index: 1;
}

.container_main .title {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 53px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.container_main .text {
	font-size: 22px;
	line-height: 36px;
	margin-top: 19px;
	color: #FFFFFF;
}

.container_main1 {
	height: 305px;
	width: 676px;
}

.span_title {
	color: #E3B873;
}

.button_title {
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 2px;
	background: rgba(0, 0, 0, 0);
	padding: 20px 42px;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}

.button_title:hover {
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
	border-radius: 2px;
}

.button1 {
	padding: 20px 42px;
}

.button2 {
	padding: 20px 22px;
	margin-left: 20px;
}

/*main section 2*/

.section2 {	
	height: 1074px;
	background-color: #131313;
	background-size: cover;
	color: #E3B873;
}

.container_section2 {
	display: flex;
	max-width: 1172px;
	margin: 0 auto;
	padding-top: 107px;
}


/*section2 левый div*/

.section2_description {
	padding-top: 69px;
	max-width: 390px;
	padding-right: 50px;
}

.section2_description h2 {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 37px;
	letter-spacing: -0.07em;
	text-transform: uppercase;
	color: #E3B873;
}

.section2_description p {
	font-size: 14px;
	line-height: 27px;
	color: #FFFFFF;
}


.section2_description h3{
	margin: 0;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #E3B873;
}

.description_table td {
	vertical-align: top;
	text-align: left;
	padding-bottom: 34px;
	padding-right: 34px;
}

.section2_description td{
	font-size: 13px;
	line-height: 21px;
	color: #FFFFFF;
}

.slider {
	margin-top: 80px;
}


/*section2 правый div*/

.section2_links ul{
	display: flex;
	list-style: none;
	padding-inline-start: 0px;
	margin-bottom: 53px;
}

.section2_links a{
	text-decoration: none;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;

	color: rgba(255, 255, 255, 0.3);
}

.section2_links li{
	display: flex;
	list-style: none;
	margin-left: 60px;
}

.section2_links li:first-child {
	margin-left: 0px;
}

.section2_links a:hover {
	color: #E3B873;
	text-decoration: underline;
}

/*main section3*/

.section3 {	
	background-size: cover;
	margin: 0 auto;
	background-color: none;
	height: 650px;
	display: flex;
	justify-content: center;
}

.container_section3 {
	margin-top: -324px;
	max-width: 817px;
}
.section3_video {
	display: flex;
	flex-direction: column;
}

/* Первый див с видео внутри */

.container_section3 h3 {
	text-align: center;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.section3_camera {
	position: relative;
	display: inline-flex;
	align-items: center;
	width: 28px;	
	margin-left: auto;
	margin-right: auto;	
}

.section3_camera:after {
	content: '';	
	width: 32px;
	height: 1.5px;
	background: #E3B873;
	border-radius: 30px;
	position: absolute;
	left: 40px; 
	
}

.section3_camera:before {
	content: '';	
	width: 32px;
	height: 1.5px;
	background: #E3B873;
	border-radius: 30px;
	position: absolute;
	right: 35px;
}

.section3_foto {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;	
}

.section3_foto img {
	margin-top: 34px;	
}

.play {
	position: absolute;
	margin: 0;
}

/* Второй див с текстом и инпутом внутри */
.section3_text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.section3_text img {
	margin-top: 62px;
}

.section3_text p {
	margin-top: 34px;
	max-width: 681px;
	font-size: 18px;
	line-height: 37px;
	text-align: center;
	color: #363636;
}
.section3_input {
	display: flex;
	justify-content: center;
}

.section3_input_form {
	display: flex;
	max-width: 769px;
	max-height: 51px;	
	flex-wrap: wrap;
	justify-content: center;
}

.section3_input_form:nth-child(-n+3) {
	justify-content: space-between;
	margin: 0 auto;
}

.input_button {
	height: 51px;
	width: 200px;
	background-color: #E3B873;
	border-radius: 2px;
	border: 0;
	font-size: 13px;
	line-height: 27px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.new_string {
	width: 100%;
}

.input_label {
	text-align: left;
	font-size: 13px;
	line-height: 21px;
	color: rgba(54, 54, 54, 0.5);
}

.input_text {
	border: 0;
	border-bottom: 1px solid rgba(54, 54, 54, 0.5);
	width: 230px;
	font-size: 14px;
	line-height: 23px;
	color: #363636;
}

.input_checkbox {	
	opacity: 0;
	margin-top: 20px;
	width: 2em;
	margin-left: auto;
	margin-right: 1em;
}

.label_checkbox {
	margin-right: auto;
	font-size: 14px;
	color: #181818;	
}

.input_checkbox+label {
	display: inline-flex;
	align-items: center;
	margin-top: 20px;	
}

.input_checkbox+label:before {
	content: '';	
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 1px solid #adb5bd;
	border-radius: 1px;
	margin-right: 1em;
	background-repeat: no-repeat;
	background-position: center center;
}

.input_checkbox:checked+label::before {
	border-radius: 1px;
	background-color: #E3B873;
	background-image: url("../images/checked.png");
}

/*main section4*/

.section4 {
	background-size: cover;
	margin: 0 auto;
	display: flex;	
	background: none;
	height: 760px;
}
.container_section4 {
	max-width: 1236px;
	margin-left: auto;
	margin-right: auto;	
}

/*div с заголовком и иконкой*/

.section4_title {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
}
	
.section4_title h3 {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;

	color: #181818;
}		

.section4_title_SSSR {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;	
	height: 28px;
	width: 114px;
}

.section4_title_SSSR:after {
	content: '';	
	width: 32px;
	height: 1.5px;
	background: #E3B873;
	border-radius: 30px;
	position: absolute;
	right: 75px;
	
}

.section4_title_SSSR:before {
	content: '';	
	width: 32px;
	height: 1.5px;
	background: #E3B873;
	border-radius: 30px;
	position: absolute;
	left: 75px;
}

/*main section4 div с примерами*/

.section4_examples {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.examples {
	width: 392px;
	height: 608px;
	margin-left: 30px;
	margin-top: 30px; 
}
.example1_foto {
	background-image: url("../images/example1.jpg");	
	height: 100%;
	background-repeat: no-repeat;
}

.example2_foto {
	background-image: url("../images/example2.jpg");	
	height: 100%;
	background-repeat: no-repeat;
}

.example3_foto {
	background-image: url("../images/example3.jpg");	
	height: 100%;
	background-repeat: no-repeat;
}
.example_list {
	background-color: #FFFFFF;
	max-width: 330px;
	margin-top: -314px;
	margin-left: 31px;
	margin-right: 31px;
	height: 286px;
	text-align: left;
}

.section4_examples li {
	font-size: 13px;
	line-height: 27px;
	color: #959595;
}

.section4_examples h4 {
	margin: 0;
	margin-left: 34px;
	padding-top: 25px;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #363636;
	text-align: left;
} 

.section4_examples ul {
	margin-top: 0;
} 

.example_price {
	margin-top: -40px;
	margin-left: 32px;
	width: 228px;
	height: 54px;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	background: #E3B873;
	box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.example_price a {
	text-decoration: none;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #FFFFFF;
}

/*main section5*/

.section5 {
	margin: 0 auto;
	max-width: 1440px;
	background-color: none;
	background-image: url("../images/section5.png");
	background-repeat: no-repeat;		
}

.container_section5 {
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
}

/*main section5 div со списком*/
.section5_list {
	margin-right: 131px;	
}

.s5_list:nth-child(-n+3) {
	margin-bottom: 56px;
}

.s5_list {
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 19px;
	color: #363636;
}

.s5_list_image {
	display: flex;
	position: relative;
}

.s5_list_image h2{
	position: absolute;
	left: 33px;
	top: 12px;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #FFFFFF;
}

/*main section5 div с формой*/

.section5_form {
	display: flex;
	flex-direction: column;
	width: 506px;
	height: 509px;
	background: #131313;
	box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.section5_form h4 {
	margin-top: 28px;
	margin-bottom: 39px;
	text-align: center;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
}

.s5_label {
	margin-left: 49px;
	margin-right: 49px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.5);
}

.s5_input {
	border: 0;
	border-bottom: 1px solid rgba(54, 54, 54, 0.5);
	margin-left: 49px;
	margin-right: 49px;
	background: rgba(0,0,0,0);	
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	color: #FFFFFF;
}

.s5_label:nth-of-type(2) {
	margin-top: 48px;
}
.s5_label:nth-of-type(3) {
	margin-top: 48px;
}

.s5_button_submit {
	margin-top: 39px;
	margin-left: 244px;
	width: 213px;
	height: 51px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}

.s5_checkbox {
	text-align: center;
	display: flex;
	align-items: center;
	margin-top: 16px;
	margin-left: 49px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	color: #FFFFFF;
}

.s5_checkbox_input {	
	opacity: 0;
}

.s5_checkbox_input+label:before {
	content: '';	
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 1px solid #adb5bd;
	border-radius: 1px;
	margin-right: 1em;
	background-repeat: no-repeat;
	background-position: center center;
}

.s5_checkbox_input:checked+label::before {
	border-radius: 1px;
	background-color: #E3B873;
	background-image: url("../images/checked.png");
}

/*main section5 div со свинкой*/

.s5_pig {
	display: flex;
	justify-content: flex-end;
}

.s5_pig_container {
	display: flex;
	align-items: center;
	
	margin-right: 180px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 26px;
	color: #E3B873;
	text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.s5_pig_background {
	display: flex;
	position: relative;
}

.s5_pig_img {
	position: absolute;
	left: 38px;
	top: 28px;	
}

/*main section6*/

.section6 {	
	max-width: 1440px;
	margin: 0 auto;	
	background-image: url("../images/s6_background.png");
	background-repeat: repeat-x;
	background-position: bottom left;
}

.container_section6 {
	margin-top: 70px;
	padding-bottom: 354px;
}

/*main section6 div с title*/

.title_section6 {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.s6_logo {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
 	width: 114px;
	height: 28px;	 
}

.s6_logo:after {
	content: '';	
	width: 32px;
	height: 1.5px;
	background: #E3B873;
	border-radius: 30px;
	position: absolute;	
	right: 80px;	
}

.s6_logo:before {
	content: '';	
	width: 32px;
	height: 1.5px;
	background: #E3B873;
	border-radius: 30px;
	position: absolute;
	left: 80px;
}

.title_section6 h3 {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #181818;
}

.title_section6 p {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 29px;
	text-align: center;
	color: #363636;
}

/*main section6 div с клиентами*/

.section6_clients {
	display: flex;
	justify-content: space-around;
	margin-bottom: 354px;
}

.s6_client {
	height: 430px;
	width: 376px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 23px;
	color: #959595;
}

.s6_client_title {
	display: inline-flex;	
	max-height: 76px;
	background: #FFFFFF;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}
.s6_client_title h3 {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	color: #181818;
}

.s6_client_title img {
	border: 0;
	border-radius: 50%;
	margin-right: 23px;
}

.s6_clients_stats {
	margin-top: 63px;
	display: inline-flex;
	height: 54px;
	width: 294px;
	box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.s6_stat:nth-child(odd) {
	background-size: cover;
	background: #E3B873;	
	height: 54px;
	width: 135px;
	display: flex;
}

.s6_stat:nth-child(even) {
	background-size: cover;
	background: #E3B873;
	margin-left: 1px;
	height: 54px;
	width: 158px;
	display: flex;
}

.s6_clients_stats img {
	margin-left: 17px;
}

.s6_clients_stats h2 {
	margin-left: 15px;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
}


/*main section7*/

.section7 {
	margin: 0 auto;
	background-size: cover;
	background-image: url("../images/section7-bg.jpg");
	position: relative;
}

.container_section7 {
	max-width: 1440px;
	padding-bottom: 65px;
	margin: 0 auto;
	margin-top: -222px;
	position: relative;
}

/*main section7 form*/

.section7_form {
	left: 0;
	right: 0;
	position: absolute;
	top: -222px;
	margin-right: auto;
	margin-left: auto;
	height: 445px;		
	width: 883px;
	background: #131313;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.6em;
	color: #FFFFFF;
}

.s7_form_container {
	margin: 0 auto;	
	max-width: 520px;
}

.s7_form_container h2 {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	padding-top: 34px;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 1.4em;
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;

}

.s7_name_phone input {
	width: 230px;
}

.s7_name_phone {	
	margin-top: 45px;
	margin-bottom: 48px;
	display: flex;
	justify-content: space-between;
}

#s7_question {
	width: 520px;
	margin-bottom: 46px;
}

.s7_checkbox {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.s7_submit {
	
	border: 0;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	width: 200px;
	height: 51px;
	background: #E3B873;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}
.section7_form input {
	border: 0;
	border-bottom: 1px solid rgba(54, 54, 54, 0.5);	
	background: rgba(0,0,0,0);	
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	color: #FFFFFF;
}

.s7_checkbox label {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.6em;
	color: #FFFFFF;

}


.s7_checkbox_input {	
	opacity: 0;
}

.s7_checkbox_input+label:before {
	content: '';	
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 1px solid #adb5bd;
	border-radius: 1px;
	margin-right: 1em;
	background-repeat: no-repeat;
	background-position: center center;
}

.s7_checkbox_input:checked+label::before {
	border-radius: 1px;
	background-color: #E3B873;
	background-image: url("../images/checked.png");
}




.s7_map {
	padding-top: 274px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.s7_map h2 {
	max-width: 589px;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;

	color: #E3B873;
}
.s7_icons {
	margin-bottom: 43px;
}


.s7_black_bg {	
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	background-size: cover;
	background: rgba(0, 0, 0, 0.85); 
	height: 100%
}